In [34]:
# Imports
import pandas
import numpy as np

## Data

In [4]:
# http://www.gbif.org/occurrence/search?TAXON_KEY=359&YEAR=2014#
# This is data for all Mammals in 2014 across the whole planet
mammals = pandas.read_csv('Data/Mammalia_2014.csv', sep='\t')

In [33]:
# Create a subset data frame that just contains the columns that we need
species_lat_longs = mammals[['species','decimallatitude','decimallongitude']]

# Drop all NaNs
species_lat_longs = species_lat_longs.dropna()

# Examine the head of the data frame
species_lat_longs.head()

           species  decimallatitude  decimallongitude
1     Papio anubis          10.9333            1.1166
3   Vulpes pallida          10.9333            1.1166
4  Crocuta crocuta          12.0000            2.5833
5   Aonyx capensis           6.4833            2.5333
6     Papio anubis           9.0166            1.6666

In [64]:
species_dictionary = species_lat_longs.species.unique()
print "Found %d unique species in the dataset" % len(species_dictionary)

Found 1068 unique species in the dataset

In [39]:
# Create the 10x10 grid squares
lats = np.arange(-90, 100, 10)
longs = np.arange(-180, 190, 10)

In [58]:
print species_lat_longs.iloc[0,1]

10.9333

# EM

# Results