In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("white")

import time
import timeit

import scipy.stats 
import pandas as pd
import pymc as pm

import re
import numpy as np

# Downloading Data

In [13]:
# Load Data

full = pd.read_csv('deer.csv',sep='\t')
full.head()

,gbifid,datasetkey,occurrenceid,kingdom,phylum,class,order,family,genus,species,...,recordnumber,identifiedby,rights,rightsholder,recordedby,typestatus,establishmentmeans,lastinterpreted,mediatype,issue
0,660409311,a48ee88f-129a-49f5-852c-e9d6d1e8686f,NaN,Animalia,Chordata,Mammalia,Artiodactyla,Cervidae,Capreolus,Capreolus capreolus,...,NaN,F. POIRIER,NaN,NaN,NaN,NaN,NaN,2016-04-15T15:22Z,NaN,GEODETIC_DATUM_ASSUMED_WGS84;COORDINATE_PRECIS...
1,660409326,a48ee88f-129a-49f5-852c-e9d6d1e8686f,NaN,Animalia,Chordata,Mammalia,Artiodactyla,Cervidae,Capreolus,Capreolus capreolus,...,NaN,E. ICARDO,NaN,NaN,NaN,NaN,NaN,2016-04-15T15:22Z,NaN,GEODETIC_DATUM_ASSUMED_WGS84;COORDINATE_PRECIS...
2,660409335,a48ee88f-129a-49f5-852c-e9d6d1e8686f,NaN,Animalia,Chordata,Mammalia,Artiodactyla,Cervidae,Cervus,Cervus elaphus,...,NaN,E. ICARDO,NaN,NaN,NaN,NaN,NaN,2016-04-15T15:45Z,NaN,GEODETIC_DATUM_ASSUMED_WGS84;COORDINATE_PRECIS...
3,660409415,a48ee88f-129a-49f5-852c-e9d6d1e8686f,NaN,Animalia,Chordata,Mammalia,Artiodactyla,Cervidae,Cervus,Cervus elaphus,...,NaN,A. BONNERON,NaN,NaN,NaN,NaN,NaN,2016-04-15T15:45Z,NaN,GEODETIC_DATUM_ASSUMED_WGS84;COORDINATE_PRECIS...
4,660409479,a48ee88f-129a-49f5-852c-e9d6d1e8686f,NaN,Animalia,Chordata,Mammalia,Artiodactyla,Cervidae,Cervus,Cervus elaphus,...,NaN,A. TURPAUD,NaN,NaN,NaN,NaN,NaN,2016-04-15T15:45Z,NaN,GEODETIC_DATUM_ASSUMED_WGS84;COORDINATE_PRECIS...

In [14]:
full.columns.values

array(['gbifid', 'datasetkey', 'occurrenceid', 'kingdom', 'phylum',
       'class', 'order', 'family', 'genus', 'species',
       'infraspecificepithet', 'taxonrank', 'scientificname',
       'countrycode', 'locality', 'publishingorgkey', 'decimallatitude',
       'decimallongitude', 'coordinateuncertaintyinmeters',
       'coordinateprecision', 'elevation', 'elevationaccuracy', 'depth',
       'depthaccuracy', 'eventdate', 'day', 'month', 'year', 'taxonkey',
       'specieskey', 'basisofrecord', 'institutioncode', 'collectioncode',
       'catalognumber', 'recordnumber', 'identifiedby', 'rights',
       'rightsholder', 'recordedby', 'typestatus', 'establishmentmeans',
       'lastinterpreted', 'mediatype', 'issue'], dtype=object)

In [18]:
full[['countrycode','locality','decimallatitude','decimallongitude','eventdate','day','month','year']].head(30)

,countrycode,locality,decimallatitude,decimallongitude,eventdate,day,month,year
0,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
1,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
2,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
3,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
4,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
5,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
6,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
7,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
8,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
9,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
10,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
11,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
12,FR,NaN,44.13329,6.93822,NaN,NaN,NaN,NaN
13,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
14,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
15,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
16,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
17,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
18,FR,NaN,44.13329,6.93822,NaN,NaN,NaN,NaN
19,FR,NaN,44.31752,6.82550,NaN,NaN,NaN,NaN
20,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
21,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
22,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
23,FR,NaN,44.22319,6.94446,NaN,NaN,NaN,NaN
24,FR,NaN,47.26378,3.59512,NaN,NaN,NaN,NaN
25,FR,NaN,49.14773,4.30208,NaN,NaN,NaN,NaN
26,FR,NaN,47.41660,0.41335,NaN,NaN,NaN,NaN
27,FR,NaN,48.88453,2.65909,NaN,NaN,NaN,NaN
28,FR,NaN,46.18393,3.45376,NaN,NaN,NaN,NaN
29,FR,NaN,49.49782,0.99897,NaN,NaN,NaN,NaN

Notes: Data effected by number of yearas we include? maybe just include 1 year. this data doesn't include year in year column. some data can be downloaded by year i think

In [24]:
data = full[['countrycode','decimallatitude','decimallongitude']]
data.head()

  countrycode  decimallatitude  decimallongitude
0          FR         44.22319           6.94446
1          FR         44.22319           6.94446
2          FR         44.22319           6.94446
3          FR         44.22319           6.94446
4          FR         44.31752           6.82550

In [28]:
# just US
data[(data['countrycode']='US')].head()

SyntaxError: invalid syntax (<ipython-input-28-219ac6b7a16c>, line 2)

# Data Exploration

In [17]:
data.shape

(251598, 3)

In [23]:
# group by to see how many have the same lat/long
data.groupby(['decimallatitude','decimallongitude']).count().head()

                                  countrycode
decimallatitude decimallongitude
-64.43000       -62.45000                   4
-54.30066       -36.27617                   1
-54.14290       -36.81450                   1
-54.13529       -36.77845                   1
-54.12833       -36.82445                   1

In [ ]:
# in numpy arrays, put them into grids

# make grid size

# count 
#    (in loop) how many in each grid?
#    somehow bin it - use histogram

In [ ]:
# Look at distribution (do we use Poisson?)
# What size do we use for the grid squares?