In [1]:
import pandas

## Data

In [4]:
# http://www.gbif.org/occurrence/search?TAXON_KEY=359&YEAR=2014#
# This is data for all Mammals in 2014 across the whole planet
mammals = pandas.read_csv('Data/Mammalia_2014.csv', sep='\t')

In [28]:
species_lat_longs = mammals[['species','decimallatitude','decimallongitude']]
# Drop all NaNs
species_lat_longs = species_lat_longs.dropna()
species_lat_longs.head()

           species  decimallatitude  decimallongitude
1     Papio anubis          10.9333            1.1166
3   Vulpes pallida          10.9333            1.1166
4  Crocuta crocuta          12.0000            2.5833
5   Aonyx capensis           6.4833            2.5333
6     Papio anubis           9.0166            1.6666

# EM

# Results